@use "./global/" as *;

footer {
  background-color: $bg-black;
  height: 35rem;
  background-image: url("/src/images/footer-bg.png");
  background-size: cover;
  background-position: center center;
  display: flex; // centering
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  &__socials {
    display: flex;
    gap: 3rem;
    color: $color-white;

    >* {
      cursor: pointer;

      &:hover {
        transition: all 0.3s;
        background-clip: text;
        -webkit-background-clip: text;
        color: rgb(240, 28, 219);
        background-image: $color-blue-purp;
      }
    }
  }

  &__text {
    font-size: $text-mini;
    color: $color-white;
    display: flex;
    gap: 3rem;
    margin-top: 3rem;

    p {
      cursor: pointer;

      &:hover {
        transition: all 0.3s;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: $color-blue-purp;
      }
    }
  }
}

.footer-icon {
  width: 3.5rem;
  height: 3.5rem;
}